#contenedor {
	width: 80%;
	max-width: 1170px;
	margin:0 auto;
	overflow: hidden;
	background: #F8D582;
	box-sizing: border-box;
}

header{
	width: 100%;
	background:#7E8AFC;
	box-sizing: border-box;	
}



.logo{
	width: 20%;
	float:left;

}

.logo img{
	width: 40%;
	height: auto;
	padding: 10px;
}
.opcions-menu{
	width:80%;
	float: left;
}

.idiomes{
	width: 100%;
	float: left;
	
}
nav ul, .idiomes ul, .registre ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li, .idiomes li, .registre li{
float:left;
}

.registre{
	text-align: right;
}
nav a, .idiomes a, .registre a{
    display: block;
    padding: 8px;
    

}


.opcions-menu-general-registre{
	clear:both;
}
nav, .registre{
	float:left;
}

nav{
	width: 75%;
}
.registre{
	width: 25%;
	
}



footer{	
	clear: both;	
	width: 100%;
	background:#BBBCB9;
	border-top: 2px solid;

}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.avis-legal{
	width:33%;
	float:left;	
	box-sizing: border-box;
	padding: 20px;
}

.menu-captacio{
	width:33%;
	float:left;	
	box-sizing: border-box;
	padding: 20px;
}

.contacta{
	width:34%;
	float:left;
	box-sizing: border-box;
	padding: 20px;
}

